:root {
  --components-color: #3829e0;
  --card-bg-color: #f5f7ff;
  --body-bg-color: #e0e8ff;
  --components-hover-color: #766cf1;
  --paragraph-color: #7280a7;
  --heading-color: #1f2f56;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
body {
  font-family: "Red Hat Display", sans-serif;
  background-color: var(--body-bg-color);
  background-image: url(../images/pattern-background-desktop.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 426px) {
  body {
    background-image: url(../images/pattern-background-mobile.svg);
  }
}
.container {
  width: 340px;
  text-align: center;
  background-color: var(--card-bg-color);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 10px 20px -10px var(--components-hover-color);
}
.container .info {
  padding: 20px;
}
.container img {
  max-width: 100%;
}
.container .info .title {
  color: var(--heading-color);
  font-size: 30px;
  margin: 20px 0;
}
.container .info .description {
  margin: 15px 0;
  font-size: 14px;
  color: var(--paragraph-color);
}
.container .info .buy-plan {
  background-color: #edeeff;
  padding: 14px;
  margin: 25px 0;
  display: flex;
  justify-content: space-between;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.container .info .buy-plan img.icon {
  background-color: var(--body-bg-color);
  width: 40px;
  height: 40px;
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.container .info .plan-title {
  color: var(--heading-color);
}
.container .info .price {
  margin-top: 10px;
  font-size: 14px;
  color: var(--paragraph-color);
}
.container .info .buy-plan a {
  margin-top: 10px;
  color: var(--components-color);
}
.container .info .buy-plan a:hover {
  color: var(--components-hover-color);
  cursor: pointer;
}
.main-button {
  font-weight: bold;
  width: 95%;
  border: none;
  background-color: var(--components-color);
  color: #f5f7ff;
  padding: 12px;
  margin: 15px 0;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: 0px 5px 15px -5px var(--components-color);
}
.main-button:hover {
  background-color: var(--components-hover-color);
  cursor: pointer;
}
.cancel-button {
  font-weight: bold;
  text-decoration: none;
  display: block;
  margin: 15px auto;
  width: fit-content;
  font-size: 14px;
  color: var(--paragraph-color);
}
.cancel-button:hover {
  color: var(--heading-color);
  cursor: pointer;
}
